.container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}
.container input {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto;
  min-width: 12rem;
  height: 2rem;
  text-align: center;
  font-size: 16px;
}
.container label {
  padding-top: 1rem;
  display: block;
  text-align: center;
  line-height: 150%;
}
.container button {
  display: block;
  margin: auto;
  margin-top: 1.5rem;
  text-align: center;
}

.select {
  max-width: 1200px;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.refresh {
  display: block;
  margin: auto;
  padding: auto;
  font-size: 20px;
  height: 2.2rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}
